* {
    margin: 0;
    padding: 0;

}



.tech_buttons {
    -webkit-text-fill-color: #F16565;

}
span {

}

button.equal {
    background-color: #F16565;
}

.equal span {
    -webkit-text-fill-color: white;
}

.service_buttons {
    -webkit-text-fill-color: #5ca7e0;
}


.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;

}

.header {
    margin: 15px 15px 0 15px;
    width: auto;
    background-color: blue;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header p {
    width: auto;
    height: auto;
    float: left;
    text-align: center;
    top: 10px;

}

.input_numbers {
    position: relative;
    margin: 30px 15px 0 15px;
    height: 80px;
    bottom: 0px;
}

.saved_calculations {
    height: auto;
    width: auto;
    font-size: 25px;
    text-align: right;
}

.input_numbers input {
    width: 100%;
    /* height: 100%; */
    border: 1px solid black;
    text-align: right;
    font-size: 45px;
    border: 0px;

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input::-webkit-input-placeholder {
    text-align: right;
}

.switch_theme {
    margin-left: auto;
    width: 80px;
    height: 40px;
    background-color: grey;
    float: right;
}

.calculator {
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    height: 700px;
    /* background-color: white; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttons_container {
    width: 100%;
    height: 70%;
    background-color: 0;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
}

.buttons {
    width: fit-content;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 15px auto 0 auto
}

.buttons button {
    padding: 0;
    width: 100px;
    height: 70px;
    border: 0px;
    border-radius: 10px;
    font-size: 40px;
    align-items: center;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

button.zero {
    width: 219px;
}

.buttons button:not(:last-child) {
    margin: 20px 15px 0 0;
}